{% extends "todo_list/base.html" %}


{% block content %}
<title>Delete</title>
 <div class="content-section">
 	<form method="POST">
 		{% csrf_token %}
 		<fieldset class = "form-group">
 			<legend class="border-bottom mb-4">Delete Task</legend>
 			<h2> Are you sure you want to delete "{{object.name}}" task?
 		</fieldset>
 		<div class="form-group">
 			<button class="btn btn-outline-danger" type="submit">Delete</button>
 			<a class="btn btn-outline-secondary" href ="{%url 'todo_list-manage' %}">Cancel</a>
 		</div>
 	</form>
 </div>
{% endblock content %}