{% extends "todo_list/base.html" %}


{% block content %}
<title>Tasks You Assigned</title>
<h1>Tasks You Assigned</h1>

{% for task in late %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-tasks' task.assigner.username %}">{{ task.assignee.first_name}} {{ task.assignee.last_name}}</a>
      <small class="text-muted"><font color="red">{{task.due|date:"F d, Y"}}</font></small>
      
    <a class="btn btn-outline-danger btn-sm mt-0 mb-1" href ="{%url 'task-delete' task.id %}">Delete</a>
    </div>
    <h2>
    <a class="article-title" href="{% url 'task-detail' task.id %}">{{task.name}}</a> 
    {% if task.subtasks %}
  <small class="text-muted"> (Has Subtasks) </small>
   {% endif %}
  </h2>
    <p class="article-content">{{ task.description }}</p>
  </div>

</article>

{% endfor %}

{% for task in day %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-tasks' task.assigner.username %}">{{ task.assignee.first_name}} {{ task.assignee.last_name}}</a>
      <small class="text-muted"><font color="orange">{{task.due|date:"F d, Y"}}</font></small>
      
    <a class="btn btn-outline-danger btn-sm mt-0 mb-1" href ="{%url 'task-delete' task.id %}">Delete</a>
    </div>
    <h2>
    <a class="article-title" href="{% url 'task-detail' task.id %}">{{task.name}}</a> 
    {% if task.subtasks %}
  <small class="text-muted"> (Has Subtasks) </small>
   {% endif %}
  </h2>
    <p class="article-content">{{ task.description }}</p>
  </div>

</article>

{% endfor %}

{% for task in week %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-tasks' task.assigner.username %}">{{ task.assignee.first_name}} {{ task.assignee.last_name}}</a>
      <small class="text-muted"><font color="blue">{{task.due|date:"F d, Y"}}</font></small>
      
    <a class="btn btn-outline-danger btn-sm mt-0 mb-1" href ="{%url 'task-delete' task.id %}">Delete</a>
    </div>
    <h2>
    <a class="article-title" href="{% url 'task-detail' task.id %}">{{task.name}}</a> 
    {% if task.subtasks %}
  <small class="text-muted"> (Has Subtasks) </small>
   {% endif %}
  </h2>
    <p class="article-content">{{ task.description }}</p>
  </div>

</article>

{% endfor %}

{% for task in other %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-tasks' task.assigner.username %}">{{ task.assignee.first_name}} {{ task.assignee.last_name}}</a>
      <small class="text-muted">{{task.due|date:"F d, Y"}}</small>
      
    <a class="btn btn-outline-danger btn-sm mt-0 mb-1" href ="{%url 'task-delete' task.id %}">Delete</a>
    </div>
    <h2>
    <a class="article-title" href="{% url 'task-detail' task.id %}">{{task.name}}</a> 
    {% if task.subtasks %}
  <small class="text-muted"> (Has Subtasks) </small>
   {% endif %}
  </h2>
    <p class="article-content">{{ task.description }}</p>
  </div>

</article>

{% endfor %}

{% endblock content %}

{% block content2 %}


<div class="col-md-4">
<div class="content-section">


<h3>Pending Acceptance</h3>

{% for task in pend %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-tasks' task.assigner.username %}">{{ task.assignee.first_name}} {{ task.assignee.last_name}}</a>
      <small class="text-muted">{{task.due|date:"F d, Y"}}</small>
      
    <a class="btn btn-outline-danger btn-sm mt-0 mb-1" href ="{%url 'task-delete' task.id %}">Delete</a>
    </div>
    <h2>
    <a class="article-title" href="{% url 'task-detail' task.id %}"> {{task.name}}</a> 
      {% if task.parent %}
      <small class="text-muted"> (Subtask of {{ task.parent.name }}) </small>
      {% endif %}
      {% if task.subtasks %}
      <small class="text-muted"> (Has Subtasks) </small>
      {% endif %}
    </h2>


  <p class="article-content">{{ task.description }}</p>
  
  </div>

</article>
{% endfor %}

</div>
</div>

{% endblock content2 %}

{% block content3 %}
<div class="col-md-4">
<div class="content-section">
<h3>Completed</h3>

{% for task in done %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-tasks' task.assigner.username %}">{{ task.assignee.first_name}} {{ task.assignee.last_name}}</a>
      <small class="text-muted">{{task.due|date:"F d, Y"}}</small>
<a class="btn btn-outline-danger btn-sm mt-0 mb-1" href ="{%url 'task-delete' task.id %}">Delete</a>
    </div>
    <h2>
    <a class="article-title" href="{% url 'task-detail' task.id %}">{{task.name}}</a> 
  </h2>
  </div>

</article>
{% endfor %}

</div>
</div>
{% endblock content3 %}
