{% extends "asend/base.html" %}
{% block content %}
<!-- object = Category
-->
<title>{{object.name}} Details</title>
<h1>{{object.name}}</h1>

<article class="media contentbody">
  <div class="media-body">
    <div class="article-metadata">
    </div>
    <h2 class="article-title"> {{object.name}}</h2>
    <p class="article-content"></p>
  </div>
</article>
<!--
<div class="col-md-12">
      <div class="contentbody">
       <h3>Entries</h3>

 entries = Entry[]
-->
{% for entry in entries %}
<article class="media contentbody">

  <div class="w3-card-6" style="width:56%">

    <div class="container">
        <div class = "smallimagepadding">
          <div class="panel panel-primary">
            <div left-margin="15px">
                <h2 class="article-title">
                  <a  href="{% url 'user-page' entry.creator.username %}"># {{entry.rank}}: {{entry.creator}}</a> 
                </h2>
                <h3>{{entry.value}} {{entry.metric}}</h3>
              
              <a class="btn btn-outline-secondary btn-sm mt-0 mb-1" href ="{%url 'entry-detail' entry.id%}">Fullscreen</a>
              </div>
            </div>

            </div>
         </div>
     </div>
   </div>
</article>
{% endfor %}

{% endblock content %}

