{% extends "asend/base.html" %}
{% block content %}
<!-- object = Category
-->
<title>{{object.name}} Details</title>

<article class="contentbody">
  <h2 class="article-title" text-align="center" width = "50%"> {{object.name}}</h2>
</article>
<!--
<div class="col-md-12">
      <div class="contentbody">
       <h3>Entries</h3>

 entries = Entry[]
-->
{% for entry in entries %}
<article class="media contentbody">

  <div class="w3-card-6" style="width:56%">

    <div class="container">
          <div class="panel panel-primary">
            <div class="row-container">
                  <div class="container" left-margin="15px">
                        <a class="article-title" href="{% url 'user-page' entry.creator.username %}">
                          <div>
                              # {{entry.rank}}: {{entry.creator}}
                          </div>
                        </a> 
                      <h4>{{entry.value}} {{entry.metric}}</h4>
                    </div>
                  <div right-margin="15px">
                    <img src="../../../todo_list/static/screenshots/asend.png" alt="screenshot">
                  </div>
               </div>
            </div>
     </div>
   </div>
</article>
{% endfor %}

{% endblock content %}

