{% extends "asend/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<title>Profile</title>
  <div class="contentbody">
  <div class="media">
    <article class="media contentbody">
      <img class="rounded-circle account-img" src="{{user.profile.image.url}}">
      <h1>{{user.first_name}} {{user.last_name}}</h1>
  </article>
</div>
  <form method="POST" enctype="multipart/form-data">
 		{% csrf_token %}
 		<fieldset class = "form-group">
 			{{ u_form|crispy }}
 			{{ p_form|crispy }}
 		</fieldset>
 		<div class="form-group">
 			<button class="btn btn-outline-info" type="submit">Update Profile</button>
 		</div>
 	</form>
</div>
{% endblock content %}